%aside
  %h1 Mentorwise
%header
  #nav-button
  #nav-section
    = @disciplines.first.name
  = render partial: 'nav_dropdown', locals: {disciplines: @disciplines}
%main
  - @disciplines.each do |discipline|
    .discipline-section{'data-discipline' => discipline.name }
      %h1
        = discipline.name
      - discipline.topics.each do |topic|
        - topic_class = topic.name.downcase.gsub(' ', '-')
        %article{class: topic_class}
          %h1
            = topic.name
          - topic.guides.each do |guide|
            .guide{class: topic_class}
              .title
                = guide.title
              .tags
                = "##{discipline.name} ##{guide.topics.map(&:name).join(', #')}"
